<h3 class="midnightblueColor">Add a new book </h3>
<hr class="addBorderStyle"/>
<form class="form-horizontal" novalidate ng-submit="vm.submitForm(add)" name="add" id="addForm">
    <div class="form-group has-feedback">
        <label for="title" class="col-sm-2 control-label required-mark">Title</label>
        <div class="col-sm-10">
            <input name="title" type="text" class="form-control" id="title" placeholder="Title" ng-model="vm.book.title" required>
            <span ng-show="vm.showFeedback(add.title.$error)" class="glyphicon glyphicon-ok form-control-feedback has-success" aria-hidden="true"></span>
            <ng-messages for="add.title.$error" style="color:maroon" role="alert" ng-if='add.title.$invalid && add.$submitted'>
                <ng-message id="titleRequiredMsg" when="required">You did not enter a title</ng-message>
            </ng-messages>
        </div>
    </div>

    <div class="form-group has-feedback"  ng-repeat="author in vm.book.authors track by $index" ng-init="authorLastName = $index">
        <label for="authors" class="col-sm-2 control-label required-mark" ng-show="$index == 0">Authors</label>
        <div class="col-sm-10" ng-class="{'col-sm-push-2':$index!=0}">
            <div class="row">
                <div class="col-md-11 col-sm-10" id="authors">
                    <div class="row">
                        <div class="col-sm-6">
                            <input name="firstName" type="text" class="form-control" id="firstName"
                                   placeholder="First name {{$index + 1}} (optional)"
                                   ng-model="vm.book.authors[$index].firstName"
                                   uib-typeahead="author.firstName + ' ' + author.lastName for author in vm.authors | filter:$viewValue | limitTo:8"
                                   typeahead-on-select='vm.onSelect($item, $index)' typeahead-select-on-exact="true">
                            <span ng-show="vm.showFeedback(add[authorLastName].$error)" class="glyphicon glyphicon-ok form-control-feedback has-success" aria-hidden="true"></span>

                        </div>
                        <div class="col-sm-6">
                            <input name="{{authorLastName}}" type="text" class="form-control" id="lastName"
                                   placeholder="Last name {{$index + 1}} (required)"
                                   ng-model="vm.book.authors[$index].lastName"
                                   uib-typeahead="state.lastName for state in vm.authors | filter:$viewValue | limitTo:8"
                                   typeahead-select-on-exact="true" required>
                            <span ng-show="vm.showFeedback(add[authorLastName].$error)" class="glyphicon glyphicon-ok form-control-feedback has-success" aria-hidden="true"></span>
                            <ng-messages for="add[authorLastName].$error" style="color:maroon" role="alert" ng-if='add[authorLastName].$invalid && add.$submitted'>
                                <ng-message id="lastNameRequiredMsg" when="required">You did not enter a last name</ng-message>
                            </ng-messages>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-2 text-right">
                    <button class="btn btn-danger" type="button" ng-click="vm.deleteAuthor($index)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-11 col-md-1 col-sm-offset-10 col-sm-2 text-right">
            <button type="button" class="btn btn-success" ng-click="vm.addAuthor()">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </div>
    </div>
    <div class="form-group has-feedback">
        <label for="ISBN-groups" class="col-sm-2 control-label required-mark">ISBN</label>
        <div class="col-sm-10">
            <div id="ISBN-groups" name="ISBN-groups">
                <input ng-change="vm.onchange()" name="isbn1" type="text" class="col-sm-1" id="isbn1" maxlength="3" minlength="1" ng-model="vm.book.isbn1" required>
                <input ng-change="vm.onchange()" name="isbn2" type="text" class="col-sm-1" id="isbn2" maxlength="5" minlength="1" ng-model="vm.book.isbn2" required>
                <input ng-change="vm.onchange()" name="isbn3" type="text" class="col-sm-1" id="isbn3" maxlength="5" minlength="1" ng-model="vm.book.isbn3" required>
                <input ng-change="vm.onchange()"name="isbn4" type="text" class="col-sm-1" id="isbn4" maxlength="5" minlength="1" ng-model="vm.book.isbn4" required>
                <input ng-change="vm.onchange()"name="isbn5" type="text" class="col-sm-1" id="isbn5" maxlength="5" minlength="1" ng-model="vm.book.isbn5" required>
                <input ng-model="vm.book.isbn" name= "isbn" ng-pattern="vm.isbnPattern" required ng-hide="true">
            </div>

            <span ng-show="vm.showFeedback(add.isbn.$error) && vm.showIsbnError(add.isbn.$error)" class="glyphicon glyphicon-ok form-control-feedback has-success" aria-hidden="true"></span>
            <ng-messages for="add.isbn.$error" style="color:maroon" role="alert" ng-if='add.isbn.$invalid && add.$submitted'>
                <ng-message when="required" id="isbnRequiredMsg">You did not enter an ISBN code</ng-message>
                <ng-message when="pattern" id="isbnInvalidMsg">You did not enter a valid ISBN code</ng-message>
            </ng-messages>
        </div>
    </div>

    <div class="form-group coverPhoto">
        <label class="col-sm-2 control-label">Cover photo</label>

        <div class="col-sm-10 coverPhoto" >
            <div class="full-width">
                <input file-input type="file" class="file" file-model="vm.cover" id="input-id" name="fileInput">
                <br ng-show="!vm.isCoverValid()"/>
                <div class="alert alert-danger" role="alert" ng-show="!vm.isCoverSizeValid()">
                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                    You must select a cover photo with a size <b>smaller than 1 MB</b>! The selected image has {{(vm.cover.size / 1000000).toFixed(2)}} MB.
                </div>
                <div class="alert alert-danger" role="alert" ng-show="!vm.isCoverTypeValid()">
                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                    You must select an <b>image file</b> as your cover photo!
                </div>
            </div>
        </div>
    </div>

    <div class="form-group has-feedback">
        <label for="title" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            <textarea name="description" type="text" class="form-control" id="description" placeholder="Description" ng-model="vm.book.description"></textarea>
        </div>
    </div>

    <div class="form-group has-feedback">
        <label class="col-sm-2 control-label required-mark">Categories</label>
        <div class="col-sm-10">
            <div class="row" name="category" id="category">
                <div class="checkbox col-sm-4" ng-repeat="cat in vm.categories track by cat.id" ng-model="vm.book.categories" >
                    <label>
                        <input type="checkbox" id="{{cat.category}}" ng-click="vm.addItemToModel(cat)" ng-checked="vm.isCategorySelected(cat)"> {{cat.category}}
                    </label>
                </div>
            </div>
            <ng-messages id="categoryRequiredMsg" for="vm.categoriesSize()" style="color:maroon" role="alert" ng-if="vm.categoriesSize() && add.$submitted">
                <ng-message when="empty">You did not select a category</ng-message>
            </ng-messages>

        </div>
    </div>

    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Pages</label>
        <div class="col-sm-10">
            <input type="number" min="0" ng-model="vm.book.pages" name="pages" class="form-control" id="pages" placeholder="Pages">
            <div ng-messages for="add.pages.$error" style="color:maroon" role="alert" ng-if='add.pages.$invalid && add.$submitted'>
                <div ng-message id="pagesRequiredNumberMsg" when="number">You typed a text page number</ng-message></div>
                <div ng-message id="pagesRequiredPositiveNumberMsg" when="min">You typed a negative pages number</ng-message></div>
                </ng-messages></div>
        </div>
    </div>

    <div class="form-group has-feedback" ng-controller="DatepickerController">
        <label for="publishDate" class="col-sm-2 control-label">Publish Date</label>

        <div class="col-sm-10">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.book.date"
                               is-open="status.opened" min-date="minDate" max-date="maxDate"
                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                               close-text="Close" show-weeks="false" name="publishDate"
                               id="publishDate" show-button-bar="false"/>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Publisher</label>
        <div class="col-sm-10">
            <input name="publisher" type="text" class="form-control" id="publisher" placeholder="Publisher" ng-model="vm.book.publisher">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-2">
            <button type="submit" id="submit" class="btn btn-primary full-width">Save</button>
        </div>
        <div class="col-sm-2">
            <button type="button" id="cancel" class="btn btn-default full-width" ng-click="previewImage = ' '; vm.resetForm(add)">
                Cancel
            </button>
        </div>
    </div>
</form>