<h3 class="midnightblueColor">Application status</h3>
<hr class="addBorderStyle"/>
<div class="panel panel-default">
    <div class="panel-heading  has-error">
        <h3 class="panel-title">Application environment details</h3>
    </div>
    <div class="panel-body">
        <div><b>Environment: </b> {{vm.status.environment}} </div>
        </br>
        <div><b>Server uptime: </b> {{vm.status.upTime}} </div>
        </br>
        <div>
            <b>Database connection: </b>
            <span class="badge" style="background-color: green" ng-show="vm.status.isDatabaseConnected">On</span>
            <span class="badge" style="background-color: darkred" ng-show="!vm.status.isDatabaseConnected">Off</span>
        </div>
    </div>
</div>
