<div class="alert alert-info text-center" role="alert" ng-show="vm.noBook">
    <p class="alert-link">There is no book wth this identifier in the database!</p>
</div>

<h3 id="title" class="midnightblueColor" ng-hide="vm.noBook">{{vm.book.title}}</h3>
<p style="margin-top:-5px; margin-left:3em; color: midnightblue" ng-hide="vm.noBook">
    by <span id="authors" style="font-style: italic" ng-repeat="author in vm.book.authors">
                    {{author.firstName}} {{author.lastName}}{{$last ? '' : ', '}}
        </span>
</p>
<hr style="border-color: midnightblue; margin-top: -5px" ng-hide="vm.noBook"/>

<div class="panel panel-default" ng-hide="vm.noBook">
    <div class="panel-body" style="margin-left: 1em; margin-right: 1em">
        <div class="row media" style="display: flex; align-items: center;">
            <div class="col-sm-8 col-xs-12 media-body">
                <table class="table no-top-border">
                    <col width="35%"/>
                    <col/>

                    <tbody>
                    <tr>
                        <th>Category</th>
                        <td id="categories">
                                <span ng-repeat="category in vm.book.categories">
                                    {{category.category}}{{$last ? '' : ', '}}
                                </span>
                        </td>
                    </tr>
                    <tr>
                        <th>Publisher</th>
                        <td id="publisher">{{vm.book.publisher}}</td>
                    </tr>
                    <tr>
                        <th>Number of pages</th>
                        <td id="pages">{{vm.book.pages}}</td>
                    </tr>
                    <tr>
                        <th>Publish date</th>
                        <td id="publishDate">{{vm.book.date}}</td>
                    </tr>
                    <tr>
                        <th>ISBN</th>
                        <td id="isbn">{{vm.book.isbn}}</td>
                    </tr>
                    <tr>
                        <th>Current status</th>
                        <td id="status" ng-class="{false:'greenColor', true:'darkRedColor'}[vm.borrowerDetails.isBorrowed]">
                            {{vm.borrowerDetails.isBorrowed ? "BORROWED by" : "AVAILABLE"}}
                            <a class="redAnch" ng-href="#/member/{{vm.borrowerDetails.uuid}}">{{vm.borrowerDetails.isBorrowed ? " " + vm.borrowerDetails.firstName + " " + vm.borrowerDetails.lastName : ""}}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-4 hidden-xs media-left media-middle text-center" >
                <img ng-src="{{vm.book.cover}}" class="media-object img-thumbnail" style="height:250px"/>
            </div>
        </div>

        </br>

        <blockquote style="font-size: 14px" ng-show="vm.book.description">
            <b>Description</b>
            </br></br>
            <div id="description" class="text-justify" style="white-space: pre-wrap;">{{vm.book.description}}</div>
        </blockquote>

    </div>
</div>