<h3 id="title" class="midnightblueColor" >Borrowed books</h3>
<hr style="border-color: midnightblue; margin-top: -5px"/>

<div class="alert alert-info text-center" role="alert" ng-show="vm.noBorrowedBooks">
    <p class="alert-link">There are no borrowed books to be displayed!</p>
</div>

<div class="panel panel-default" ng-hide="vm.noBorrowedBooks">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-fixed">
                <thead>
                <tr>
                    <th width=20% ng-click="vm.addTitleToSort('title')">Title</th>
                    <th width=15% class="hidden-xs hidden-sm">Authors</th>
                    <th width=15% class="hidden-xs hidden-sm hidden-md" ng-click="vm.addTitleToSort('isbn')">ISBN</th>
                    <th width=10% class="text-center" ng-click="vm.addTitleToSort('date')">Lend date</th>
                    <th width=10% class="text-center">Borrower</th>
                </tr>
                </thead>

                <tbody>
                <tr id="bookRow" ng-repeat = "book in vm.borrowedBooks">
                    <td class="table-column-ellipsis">{{book.title}}</td>
                    <td class="table-column-ellipsis hidden-xs hidden-sm" on-ellipsis="vm.enableTooltip(param, book)"
                        uib-tooltip="{{vm.getTooltipContent(book)}}"
                        tooltip-placement="bottom" tooltip-enable="book.tooltip" tooltip-append-to-body="true">
                                <span ng-repeat="author in book.authors">
                                    {{author.firstName}} {{author.lastName}}{{$last ? '' : ', '}}
                                </span>
                    </td>
                    <td class="hidden-xs hidden-sm hidden-md">{{book.isbn}}</td>
                    <td class="text-center">{{book.startLendDate}}</td>
                    <td class="text-center" tooltip-placement="bottom" ng-mouseover="vm.enableTooltip(book.borrowerUUID)" uib-tooltip="{{vm.getTooltipContent(book)}}" tooltip-enable="vm.tooltip" tooltip-append-to-body="true">{{book.borrowerFirstName}} {{book.borrowerLastName}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer text-center">
        <uib-pagination boundary-links="true" total-items="vm.numberOfItems" max-size="vm.maxSize" items-per-page="vm.itemsPerPage"
                        ng-model="vm.currentPage" ng-change="vm.pageChanged()"
                        class="pagination paginationFooter"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
        </uib-pagination>
    </div>
</div>