<h3 style="color: midnightblue">All books</h3>
<hr style="border-color: midnightblue"/>
<div class="alert alert-info text-center" role="alert" ng-show="noBooks">
    <p class="alert-link">There are no books to be displayed!</p>
</div>

<div class="panel panel-default" ng-hide="noBooks">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-fixed table-hover">
                <thead>
                <tr>
                    <th width=40%>Title</th>
                    <th width=40%>Authors</th>
                    <th width=20%>ISBN</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat = "book in books" ng-click="showBook(book.id)" style="cursor: pointer;">
                    <td class="table-column-ellipsis">{{book.title}}</td>
                    <td class="table-column-ellipsis">
                        <!--<span><a href="#" data-toggle="tooltip" title="Hooray!">Hover over me</a></span> </td>-->
                        <span ng-repeat="author in book.authors"> {{author.firstName}} {{author.lastName}}{{$last ? '' : ', '}}</span>
                    </td>
                    <td>{{book.isbn}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer text-center">
        <uib-pagination boundary-links="true" items-per-page="itemsPerPage" total-items="totalItems" ng-model="bigCurrentPage" max-size="maxSize" num-pages="numPages" ng-change="pageChanged()" class="pagination paginationFooter" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </div>
</div>