<div class="alert alert-info text-center" role="alert" ng-show="vm.noMember">
    <p class="alert-link">There is no user wth this identifier in the database!</p>
</div>

<h3 id="title" class="midnightblueColor" ng-hide="vm.noMember">{{vm.member.firstName}} {{vm.member.lastName}}</h3>
<p style="margin-top:-5px; color: midnightblue" ng-hide="vm.noMember">
[{{vm.member.UUID}}]
</p>
<hr style="border-color: midnightblue; margin-top: -5px" ng-hide="vm.noMember"/>

<div class="panel panel-default" ng-hide="vm.noMember">
    <div class="panel-body" style="margin-left: 1em; margin-right: 1em">
        <div class="row media" style="display: flex; align-items: center;">
            <div class="col-sm-12 col-xs-12 media-body">
                <table class="table no-top-border">
                    <col/>
                    <tbody>
                    <tr>
                        <th>Member since</th>
                        <td id="memberSince">
                                {{vm.member.memberSince}}
                        </td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td id="address">{{vm.member.address}}, {{vm.member.city}}</td>
                    </tr>
                    <tr>
                        <th>Postal Code</th>
                        <td id="postalCode">{{vm.member.postalCode}}</td>
                    </tr>
                    <tr>
                        <th>Birthdate</th>
                        <td id="birthdate">{{vm.member.birthDate}}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td id="phone">{{vm.member.phoneNumber}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td id="email">{{vm.member.email}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <h4 class="midnightblueColor">Borrowed Books</h4>
        <hr style="border-color: midnightblue; margin-top: -5px"/>

        <div class="alert alert-info text-center" role="alert" ng-show="vm.noBorrowedBooks">
            <p class="alert-link">There are no books to be displayed!</p>
        </div>

        <div class="panel panel-default" ng-hide="vm.noBorrowedBooks">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-fixed">
                        <thead>
                        <tr>
                            <th width=30%>Title</th>
                            <th width=30% class="hidden-xs hidden-sm">Authors</th>
                            <th width=20% class="hidden-xs hidden-sm hidden-md">ISBN</th>
                            <th width=10% class="text-center">Lend date</th>
                            <th width=10% class="text-center">Return date</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr id="bookRow" ng-repeat = "book in vm.borrowedBooks"
                            ng-class='{borrowedBooksRowColor : vm.borrowedAndNotReturnedBooks.indexOf(book) != -1}'>
                            <td class="table-column-ellipsis">{{book.title}}</td>
                            <td class="table-column-ellipsis hidden-xs hidden-sm" on-ellipsis="vm.enableTooltip(param, book)"
                                uib-tooltip="{{vm.getTooltipContent(book)}}"
                                tooltip-placement="bottom" tooltip-enable="book.tooltip" tooltip-append-to-body="true">
                                <span ng-repeat="author in book.authors">
                                    {{author.firstName}} {{author.lastName}}{{$last ? '' : ', '}}
                                </span>
                            </td>
                            <td class="hidden-xs hidden-sm hidden-md">{{book.isbn}}</td>
                            <td class="text-center">{{book.startLendDate}}</td>
                            <td class="text-center">{{book.endLendDate || "-"}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="panel-footer text-center">
                <uib-pagination boundary-links="true" total-items="vm.totalItems" max-size="vm.maxSize" items-per-page="vm.itemsPerPage"
                                ng-model="vm.currentPage" ng-change="vm.pageChanged()"
                                class="pagination paginationFooter"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                </uib-pagination>
            </div>
        </div>

        <h4 class="midnightblueColor">Borrow</h4>
        <hr style="border-color: midnightblue; margin-top: -5px"/>

        <div class="alert alert-danger text-center" role="alert" ng-show="vm.tooManyBorrowedBooks">
            <p class="alert-link">Too many borrowed books!</p>
        </div>

        <form class="form-inline">
            <div class="row">
                <div class="col-sm-offset-6 col-sm-6 text-right">
                    <label>Search by</label>
                    <select id="filter" class="form-control" ng-model="vm.filter"
                            ng-options="filter for filter in vm.searchFilters"></select>
                    <input id="filterValue" class="form-control" placeholder="{{vm.filter}}" ng-model="vm.filterValue"
                           uib-typeahead="value.value for value in vm.populatedFilterValues | filter:$viewValue | limitTo:10"
                           typeahead-on-select='vm.onSelectFilter()' typeahead-select-on-exact="true">
                </div>
            </div>
        </form>

        <br/>

        <div class="alert alert-info text-center" role="alert" ng-show="vm.noAvailableBooks">
            <p class="alert-link">There are no books to be displayed!</p>
        </div>

        <div class="panel panel-default" ng-hide="vm.noAvailableBooks">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-fixed">
                        <thead>
                        <tr>
                            <th width=30%>Title</th>
                            <th width=30%>Authors</th>
                            <th width=20%>ISBN</th>
                            <th width=20%>Borrow</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr id="bookAvailableRow" ng-repeat = "book in vm.availableBooks">
                            <td class="table-column-ellipsis">{{book.title}}</td>
                            <td class="table-column-ellipsis" on-ellipsis="vm.enableTooltip(param, book)"
                                uib-tooltip="{{vm.getTooltipContent(book)}}"
                                tooltip-placement="bottom" tooltip-enable="book.tooltip" tooltip-append-to-body="true">
                        <span ng-repeat="author in book.authors">
                            {{author.firstName}} {{author.lastName}}{{$last ? '' : ', '}}
                        </span>
                            </td>
                            <td>{{book.isbn}}</td>
                            <td >
                                <button type="button" class="btn btn-default" ng-click="vm.borrowBook(book.id)">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer text-center">
                <uib-pagination boundary-links="true" total-items="vm.totalAvailableItems" max-size="vm.maxSize" items-per-page="vm.availableItemsPerPage"
                                ng-model="vm.currentAvailablePage" ng-change="vm.availableBooksPageChanged()"
                                class="pagination paginationFooter"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                </uib-pagination>
            </div>
            </div>
        </div>
    </div>
</div>