body {
    background-color: #eee;
}

.paginationFooter {
    margin: 0;
    padding: 0;
}

.table-column-ellipsis {
    margin-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-fixed {
    table-layout:fixed;
    width: 100%;
}

ng-messages{
    color:maroon;
}

.midnightblueColor {
    color: midnightblue;
}

.addBorderStyle {
    border-color: midnightblue;
}

.coverPhoto {
    display: flex;
    align-items: center;
}